<nav id='navBar' class='full blue-grey lighten-1'>
    <h3 id='userTitle'>Welcome, <%= user ? user.name : 'no user' %></h3>
    <br>
    <div class='collection'>
        <a href='/rides/all' class='collection-item black-text'>All Rides</a>
        <a href='/rides/new' class='collection-item black-text'>Post A Ride</a>
    </div>
    <div id='logout' class='collection'>
        <a href='/logout' class='collection-item black-text'>Logout</a>
    </div>
</nav>
