<nav id='navBar' class='full grey darken-2'>
    <h3 id='userTitle'>Welcome, <%= user ? user.name : 'no user' %></h3>
    <br>
    <a href='/rides/all' class='waves-effect waves-light btn blue-grey lighten-1'>All Posts</a>
    <br>
    <a href="/home/<%= user._id%>" class='waves-effect waves-light btn blue-grey lighten-1'>Profile</a>
    <br>
    <a href="/rides/new" class='waves-effect waves-light btn blue-grey lighten-1'>Add A Ride</a>
    <br>
    <a href='/logout' class='waves-effect waves-light btn logout blue-grey lighten-1'>Log out</a>
</nav>
