<nav id='navBar' class='full blue lighten-2'>
    <a href='/home'>Home</a>
    <br>
    <a href='/profile'>Profile</a>
    <br>
    <a href="/new">New Post</a>
    <br>
    <p><%= user ? user.name : 'no user' %></p>
    <a href='/logout' class='logout'>Log out</a>
</nav>
