<!DOCTYPE html>
<html>

<head>
  <title>Biking With Friends</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <nav>
    
  </nav>
  <!-- <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <% if (user) {%> 
        <a href="" class="brand-logo left">Welcome, <%= user.name %> </a>
        <% } else { %> 
          <a href="" class="brand-logo left">Ride With Friends</a> 
          <% } %> 
        <ul class="right">
          <li>
            <% if (user) { %>
              <a href="/logout">Log Out</a>
            <% } else { %>
              <a href="/auth/google"> Login with Google</a>
            <% } %>       
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div><% user %> </div> -->
</body>

</html>