<!DOCTYPE html>
<html>

<head>
  <title>Biking With Friends</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<!-- Page Layout here -->
<body class='full'>
  <div class='full row'>
    <!-- side nav -->
    <div  id='navbarcontainer' class='col s3'>
      <%- include('./partials/nav') %>
    </div>
    <!-- post area -->
    <div id='scrollFeed' class='full col s9 green'>
      <h2>Home Page</h2>
      <!-- feed area -->
      <% riders.forEach(function(rider) { %> 
            <div id='post' class='col s12'>
            <%= rider.name %> 
            <p>Trails completed: <%= rider.posts.length %> </p>
            <p>To see details of this rider, <a href="/home/<%= rider._id%>" >click here:</a></p>
          </div>
      <% }) %>
    </div>
  </div>
</body>


</html>