<!DOCTYPE html>
<html>

<head>
  <title>Biking With Friends</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <!-- The background video -->
    <img id='myVideo' src='p2background.gif'>

    <!-- Login box -->
    <div id='login-box' class="container">
        <div class="card blue-grey lighten-1">
            <div class="card-content white-text ">
                <span id='login-banner' class="card-title">Welcome riders</span>
                <p>To continue to the site, please sign in with Google below:</p>
            </div>
            <div class="card-action">
                <a href="/auth/google">Sign In With Google</a>
            </div>
            </div>
        </div>
    </div>
</body>

</html>