/* Login page */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: grayscale(25%);
}

#login-box {
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  margin: auto;
  height: 200px;
  width: 500px;
}

#login-box > * {
  text-align: center;
}

#login-banner {
  font-size: 45px;
  font: bold;
}

/* Navigation bar */
#navBar {
  margin: auto;
}

#navbarcontainer {
  padding: 0;
}

/* Search bar */
#searchBarBox {
  margin: 0;
}

#searchbar {
  border: none;
}

/* Home Page */
.full {
  height: 100vh;
}

.logout {
  position: absolute;
  bottom: 0;
}

/* Post box */
#postboxcontainer {
  display: grid;
  margin-top: 20px;
  height: 150px;
  border: 1px solid red;
  padding: 0;
  grid-template-areas: 
    "text submit"
    "trail range";
}

#postform {
  border: 1px solid red;
}

#posttext {
  grid-area: text;
}

#submitpost {
  grid-area: submit;
}

#trailselector {
  grid-area: trail;
}

#postrange {
  grid-area: range;
}

/* Feed area */
#scrollFeed {
  overflow: auto;
}

#post {
  position: static;
  height: 100px;
}