<!DOCTYPE html>
<html>

<head>
  <title>Biking With Friends</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<!-- Page Layout here -->
<body class='full'>
  <div class='full row'>
    <!-- side nav -->
    <div  id='navbarcontainer' class='col s2'>
      <%- include('../partials/nav') %>
    </div>
    <!-- post area -->
    <div id='postBoxContainer' class='full col s10 grey lighten-2'>
        <div class="card">
          <div class="card-image">
            <img id='postBoxBG'src='../postBoxBG.jpeg'>
            <h1 class="card-title">Get out there and ride!</h1>
          </div>
          <div id='postForm' class="card-content">
            <form action='/rides' method='POST'>
              <label>How did it go?</label>
              <input type="text" placeholder="It was awesome! Watch out on the second turn though, there's some mud - SEND IT">
              <div class='col s12 m6'>
                <label>What trail did you ride?</label>
                  <select class='browser-default col s12 m6' name="trails" id="trails">
                    <option value="boulderCanyonTrail">Boulder Canyon Trai</option>
                    <option value="valmontBikePark">Valmont Bike Park</option>
                  </select>
              </div>
              <div class='col s12 m6'>
                <label>How far did you go?</label>
                  <input type="number" placeholder="Enter range in miles">
              </div>
              <div class="card-action">
                <a href="/" class='waves-effect waves-light btn blue-grey lighten-1'>Submit</a>
              </div>
            </form>
          </div>
        </div>
      <!-- <form action='/rides' method='POST'>

      </form> -->
      <!-- feed area -->
    </div>
  </div>
</body>


</html>