<!DOCTYPE html>
<html>

<head>
  <title>Biking With Friends</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<!-- Page Layout here -->
<body class='full'>
  <div class='full row'>
    <!-- side nav -->
    <div  id='navbarcontainer' class='col s2'>
      <%- include('../partials/nav') %>
    </div>
    <!-- post area -->
    <div id='postBoxContainer' class='full col s10 grey lighten-2'>
        <div class="card">
          <div class="card-image">
            <img id='postBoxBG'src='../images/postBoxBG.jpeg'>
            <h1 class="card-title">Post your ride</h1>
          </div>
          <div id='postForm' class="card-content">
            <form action='/rides' method='POST'>
              <label>How did it go?</label>
              <input type="text" placeholder="It was awesome! Watch out on the second turn though, there's some mud - SEND IT" name='text'>
              <label class='col s12 m6' for='trails'>What trail did you ride?</label>
              <label calss='col s12 m4'>How far did you go? (in miles)</label>
                  <select class='browser-default col s12 m6' name="trail" id="trails">
                    <option value="Boulder Canyon Trail">Boulder Canyon Trail</option>
                    <option value="Valmont Bike Park">Valmont Bike Park</option>
                    <option value="Bobolink Trail">Bobolink Trail</option>
                    <option value="Cottonwood Trail">Cottonwood Trail</option>
                  </select>
              <input class='col s12 offset-s6 m6' type="number" placeholder="Enter range in miles" name='range'>
              <button type='submit' class='waves-effect waves-light btn blue-grey lighten-1 col s12'>Submit</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</body>


</html>